.login-screen {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-screen__form {
  width: 380px;
  padding: 1.5rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  background: #1B1C1D;
}

.login-screen__title {
  text-align: center;
  margin-bottom: 1rem;
  color: #1FB79B;
}


.login-screen__subtext {
  font-size: 0.7rem;
  display: block;
  margin: 0.5rem 0;
}

.form-group {
  color: #1FB79B;
}

input.input-box, textarea { background: #242425; color: rgba(31, 183, 155,50%); }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #242526 inset;
  -webkit-text-fill-color: rgba(31,183,155,50%);
}

.but {
    background: #101111 !important;
    color: #1FB79B !important;
}
