.container {
    width:1440px;
    margin-top: 100px;
}

.davake {
    background:#1B1C1D;
    color:#fff;
    padding: 10px;
    margin-bottom: 25px;
}

.cardx {
    display:flex;
    flex-direction:column;
    align-items: center;
    padding: 2rem;
}

.mainContainer {
    display:flex;
    border: 1px solid #6FCF97;
    border-radius:10px;
    width: 100%;
    height: 28rem;
    margin-bottom: 3rem;
    padding: 1rem;
}

.rightPanel {
    display: flex;
    align-items:center;
    justify-content:center;
    width:70%;
    padding:0 1.5rem;
    border-radius:10px;
}
.leftPanel {
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    width:30%;
    background:#1B1C1D;
    border-radius:10px;
}

.content {
    background:#1B1C1D;
    height: 100%;
    width: 100%;
}

.dava-btn {
    padding: 0.5rem 1.5rem;
    margin-top:1rem;
    width:80%;
  border-radius: 8px;
  font-weight: 600;
  border: none;
  font-size: 18px;
  background-color: #63d0ab;
  color: #fff;
  transition: all 0.15s;
}

.dava-btn:hover {
    background-color: #54ac8d;
}

.data {
    display: flex;
    align-items:center;
    justify-content:center;
    color: #54ac8d;
    height:90%;
}
.rightPanelBottom {
    display: flex;
    align-items:center;
    justify-content:center;
    color: #54ac8d;
    height:10%;
    padding: 0.25rem;
}

.social {
    display: flex;
    flex-direction:column;
    margin: 0.4rem;
    padding: 0.4rem;
    border: 1px solid #6FCF97;
    border-radius:10px;
}

.social-checkbox {
    display:flex;
    align-items:center;
}

.social-input {
    display:flex;
    margin:0 0.4rem;
}
