.container {
    width:1440px;
    margin-top: 120px;
}

.navbar {
    background:#242526 !important;
}

.link {
    color:#1FB79B !important;
}

.logout {
    background-color: #242526 !important;
    padding:0.5rem; 
}
